################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Developer-SLM-com/FileContentIndex/356201c6-4d95-4b37-8ec1-a048af44f259.vsidx
/.vs/Developer-SLM-com/FileContentIndex/5184195f-f815-4548-9a1b-b9308b376306.vsidx
/.vs/Developer-SLM-com/FileContentIndex/merges/f6580b25-3ae1-4138-b3bd-644f80cb7076.vsidx
/.vs/Developer-SLM-com/v17
/.vs/Developer-SLM-com/FileContentIndex
/.vs
